.calculator_container {
  display: flex;
  flex-direction: column;
  background-color: $White;
  font-family: $font;
  padding: 2rem;
  border-radius: 15px 15px 180px 15px;
  margin: 10px;

  .age_form {
    form {
      
      div{
        display: grid;
      grid-template-columns: repeat(4, 1fr);
      span {
        display: flex;
        flex-direction: column;

        label{
          font-size: 16px;
          font-weight: 200;
          color: $Smokeygrey;
        }

        input {
          width: 80%;
          height: 40px;
          border: 1px solid $Lightgrey;
          border-radius: 5px;
          
        }
      }
    }
    }

    .seperate-btn-box {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      box-sizing: border-box;
      margin-top: 20px;
      align-items: center;
      justify-content: center;
  
      .hr-box {
        width: 100%;
        grid-column: 1/5;
        hr {
          border-top: 1px solid $Lightgrey;
          width: 100%;
          
        }
      }
  
        .btn-box {
          grid-column: 5/6;
          display: flex;
          align-items: center;
          
          button {
            border-radius: 50%;
            width: 80px;
            height: 80px;
            border: none;
            outline: none;
            background-color: $purple;
           
  
            img{
              width: 50%;
            }
          }
        }
      
    }
  }

  

  .result_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: $fontItalic;
    margin: 6px;
    span {
      display: flex;

      .result{
        font-size:4em ;
        margin: 0;
        color: $purple;
      }

      .unit{
        font-size: 4em;
        margin: 0;
      }

    }
  }
}
